*{
    box-sizing: border-box;
}
body{
    margin:0;
    width:100%;
   
}
.container{
    width:90%;
    margin: auto;
    /* background-color: red; */
}
.header{
    position: relative;
    height:200px;
}
.img-container{
    position: relative;
    height:420px;
    width:100%;
    overflow: hidden;

}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}
.header-body-section{
    position:absolute;
    top:0;
   width: 100%;
    color:white;
  
}
.nav{
    
    font-weight: 600;
    height: 50px;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-container{
    display: flex;
    align-items: center;

}
.logo-container p{
    padding:5px;

}

.nav ul{
    list-style: none; 
   /* list-style-type: none; */
    display: flex;
}
.nav ul li{
    padding: 0px 3px;
    margin-right: 25px;
    font-size: 20px;
    font-weight: 100;
}
.nav ul li a{
    color: inherit;
    text-decoration: none;
}
.zomato-logo{
    width: 300px;
   


}
#myorder{
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    left:20px;
}
.container-header-body{
   display: flex;
   justify-content:center ;
   align-items: center;
   height:420px;
   flex-direction: column;
}
.header-body-content{
    position: relative;
    top: -50px;
}
.header-body-section-discover{
    margin:25px;
    font-size: 40px;
}
.search-container{
   
    width:80%;
    height: 50px;
    max-width: 400px;
    position: relative;
    border-radius: 10px;
    padding: 7px;
   

}
.search-container .search-item{
    height: 100%;
    width:300px ;
    border-radius: 10px;
    position: absolute;
}
.search-item i{
   height: 100%;
   width: 20px;
   position: absolute;
}
.search-item input{
    height: 100%;
    width:300px ;
    margin:-15px 0px 0px 34px;
    position: absolute;
    border-radius: 10px;
    max-width: 100%;
    border:none;
    outline: none;
    font-size: 15px;
    padding: 0px 10px;
}
.head-body{
    height:100%;
    width:100%;
    /* background-color: bisque; */
    top:50px;
}
.head-body .img-con{
    margin-top: 25px;
    height:80%;
    width:100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.head-body img{
    
    height:300px;
    width:300px;
   
}
.img-con .pimg{
  border:2px solid grey;
  border-radius: 15px;
}
.img-con .pimg>h1{
    text-align: center;
}
.img-con .pimg>h3{
    text-align: center;
}
.head-body-drink{
    height:100%;
    width:100%;
    
    top:50px;
}
.head-body-drink .img-con-dr{
    margin-top: 25px;
    height:80%;
    width:100%;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.head-body-drink img{
    border-radius: 15px;
    height:300px;
    width:300px;
   
}
.img-con-dr .pimgp{
  border:2px solid grey;
  border-radius: 15px;
}
.img-con-dr .pimgp>h1{
    text-align: center;
}
.img-con-dr .pimgp>h3{
    text-align: center;
}
.steps{
    background-color: whitesmoke;
} 
.step1{
    height:75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
.step1 .phonelogo{
    
    height:90%;
    width:40%;
    
   
    margin-left:50px;
    position: relative;
    
}
 
.phonelogo img{
    height:350px;
    width:250px;
    border-radius:20px;
    object-fit: cover;
    position:absolute;
    margin-right: 50px;
    left:150px;
    top:20px;
  }
 
  .datainfo{
   height:80%;
    width:50%;
    background-color: rgb(164, 173, 182);
    margin-right:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 30px;
}
.datainfo:hover{
   
box-shadow:  5px 5px 5px 5px pink;
    
}
.datainfo h1{
    font-size: 40px;
    font-weight: bold;
    margin:0px 0px 15px;
}
.datainfo p{
   
    font-size: 20px;
    font-weight: 200;
    margin:0px 0px 25px;
    
}


.datainfo .radiop{
   
    height: 50px;
    width:150px;
    top: 0px;
   text-align: start;
   margin-right: 300px;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.email{
    height:50px;
    width:250px;
    position: relative;
   
    top:10px;
    background-color: pink;
    border-radius: 25px;
    border: 1px solid black;
   
}
.email input{
    height:100%;
    width:100%;
    position: absolute;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 20px;

}
.email label{
    position: absolute;
    left:25px;
    top:10px;
    font-size: 22px;
}
.email input:focus ~label{
    transition:1s;
    top: -15px;
}
.share{
    width: 100px;
    height: 36px;
    position:relative ;
   
    top:21px;
    border:none;
    outline: none;
    border-radius: 30px;
   
    color:white;
}
.share button{
    border-radius: 30px;
    position: absolute;
}

.term{
    height:80vh;
    width:100%;
   background-color:whitesmoke;
    
}
.term .test{
    height:80%;
    width:100%;
}
.term .test h1{
    font-size: 30px;
    margin:0px 0px 0px 65px;
   
}
.test .term-con{
    margin-top: 25px;
    height:80%;
    width:100%;
   
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: start;
    align-content: center;
}

.term-con .list{
    height:400px;
    width:250px;
    top:20px;
    border-radius: 25px;
    background-color: white;
    border:1px solid black;
}

.term-con .list h6{
    font-size: 25px;
    font-weight: larger;
    color: black;

}
.term-con li{
    color:rgb(84, 67, 67);
    font-weight: 900;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 10px 0px;
    list-style-type: none;
  }

